[submodule "deps/clog"]
	path = deps/clog
	url = http://github.com/funlibs/clog.git
[submodule "deps/cargo"]
	path = deps/cargo
	url = http://github.com/funlibs/cargo.git
[submodule "deps/ssock"]
	path = deps/ssock
	url = https://github.com/funlibs/ssock.git
