[submodule "deps/xmlc"]
	path = deps/xmlc
	url = http://github.com/funlibs/xmlc.git
[submodule "deps/clog"]
	path = deps/clog
	url = http://github.com/funlibs/clog.git
[submodule "deps/cargo"]
	path = deps/cargo
	url = http://github.com/funlibs/cargo.git
[submodule "deps/libtask"]
	path = deps/libtask
	url = http://github.com/ssbx/libtask.git
