[submodule "deps/clog"]
	path = deps/clog
	url = http://github.com/funlibs/clog.git
[submodule "deps/cargo"]
	path = deps/cargo
	url = http://github.com/funlibs/cargo.git
[submodule "deps/net"]
	path = deps/net
	url = https://github.com/funlibs/net.git
